* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 80%;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-profile {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
}

.second-container {
  display: flex;
}
